header {
    background: $neutral-color;
    padding: 0 rem(20);
    position: sticky;
    z-index: 10;
    top: 0;
  
    > nav {
      @include margin-auto();
      
      max-width: rem(1440);
      display:flex;
      justify-content: start;
      flex-wrap: nowrap;

      @include mobile-only {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none; // Firefo
          &::-webkit-scrollbar {
            display: none;
          }
      }
  
      > a {
        padding: rem(20) rem(10);
        display:block;
        color: $white-color;
  
        &.current {
          text-decoration: underline;
        }
      }
    }
}