.car-card {
    @include margin-bottom(0.5);
    @include padding-block(0.6);
    @include padding-inline(1);

    border: rem(1) solid $light-grey-color;
    border-radius: rem(4);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: rem(16);

  
    &__title {
      @include margin-bottom(0.2);

      font-size: rem(20);
    }
  
    &__price {
      @include margin-block(0.4);

      font-size: 0.9rem;
      color: $neutral-color;

      span {
        letter-spacing: rem(1.5);
        font-size: rem(22);
        color: $primary-color;
      }
    }
    
    &__content {
      display: flex;
      flex-direction: column;
      gap: rem(5);
    }
}