.carList {
  /* if want to use a grid layout, uncomment the following
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(20);
  */
   /* Using multi‑column layout for masonry */
  column-count: 3;
  column-gap: rem(20);

  &__make {
    padding: rem(15);
    display: flex;
    flex-direction: column;
    break-inside: avoid; /* Prevent makes from breaking across columns */
    height: fit-content; /* Adjust height to content */
    margin-block-end: rem(20); /* Space between makes */

     /* Assign alternating background colors for each make */
    &:nth-of-type(6n+1) {
      background-color: $primary-color;
    }
    &:nth-of-type(6n+2) {
      background-color: $secondary-color;
    }
    &:nth-of-type(6n+3) {
      background-color: $success-color;
    }
    &:nth-of-type(6n+4) {
      background-color: $danger-color;
    }
    &:nth-of-type(6n+5) {
      background-color: $warning-color;
    }
    &:nth-of-type(6n) {
      background-color: $info-color;
    }
  }

  &__makeTitle {
    font-size: 1.5rem;
    margin-bottom: rem(10);
  }

  &__families {
    display: flex;
    flex-direction: column;
    gap: rem(10);
  }
}