.carList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(20);
  
    &__make {
      padding: rem(15);
    }
  
    &__makeTitle {
      font-size: 1.5rem;
      margin-bottom: rem(10);
    }
  
    &__families {
      display: flex;
      flex-direction: column;
    }
}